*{
    margin: 0;

}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #f3f0f0;
    color: black;
    font-family: 'Arial', sans-serif;
}

.img-logo-navbar{
    width: 50px;
    border-radius: 50%;
    border: 1px solid white;
    cursor: pointer;
}

.contenedor-body{
    
}
.navbar{
    background-color: #F590D2 !important;
}

.navbar a{
    color: white !important;
}

.img-principal {
    position: relative;
    width: 100%;
    height: 100vh; /* Establece la altura al 100% del viewport */
    overflow: hidden;
}

.img-principal img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor sin distorsionarla */
}

.body-principal{
    margin: 32px;
}

/* BODY-PRINCIPAL */
.about{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 36px;
}

.card{
    background-color: #f3f0f0;
    color: black;
    border: 1px solid #E0218A;
    margin-top: 12px;
}
.card-body{
    text-align: center;
}

.card-img-top{
    height: 230px;
}


/*img-presentacion*/
.img-presentacion{
    margin-top: 36px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card-img{
    width: 50%;
    height: auto;
    padding: 2px;
    border-radius: 12px;

}

.img-card-presentacion{
    width: 100%;
    height: 360px;
    border-radius: 16px;
}


/*Carrusel de imagenes*/
.carrusel-img{
    margin-top: 36px;
    width: 100%;
   
}



/*FOOTER*/
.contenedor-footer{
    width: 100%;
}


footer {
    background-color: #8d4b76;
    color: #fff;
    padding: 40px 0;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-section {
    flex: 1;
    margin: 10px;
}

.footer-section h2 {
    color: #fff;
    margin-bottom: 10px;
}

.footer-section p {
    color: #ddd;
}

/* Estilos adicionales para hacerlo más moderno */
.footer-section.about,
.footer-section.contact,
.footer-section.social {
    width: 100%;
}

.footer-section.about p,
.footer-section.contact p,
.footer-section.social p {
    font-size: 18px;
}

.footer-section.social p {
    margin-top: 20px;
}

.footer-section.social a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    font-size: 18px;
}


.contenedor-img-footer img{
    border-radius: 50%;
    width: 150px;
}

.contact-titulo,
.siguenos-titulo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.correo-contact,
.celular-contact,
.instagram-social,
.facebook-social{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}


.correo-contact p:hover {
    color: #ec8484;
}

.celular-contact p:hover {
    color: #25d366;
}

.instagram-social a:hover {
    color: #f58dd4;
}

.facebook-social a:hover {
    color: #3f77f0;
}



/* Estilos para dispositivos móviles */
@media only screen and (max-width: 767px) {
   .footer-content{
    width: 100%;
    display: block;
    text-align: center;
   }

   .card-img{
    height: 200px;
   }
   .img-card-presentacion{
    height: 180px;
   }
}





